# Database
DATABASE_URL="postgresql://username:password@localhost:5432/spendsense"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PRICE_T1=
NEXT_PUBLIC_STRIPE_PRICE_T2=
NEXT_PUBLIC_STRIPE_PRICE_T3=

# Analytics
POSTHOG_KEY=

# App
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
